[user]
  name = Alexander Fong
  email = alpfong@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input
[push]
  default = simple
[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  ci = commit
  co = checkout
  br = branch
  brd = branch --sort=-committerdate
  fe = fetch --prune
  pu = pull --rebase --prune
  st = status
  sublog = submodule foreach git lg -n 10
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[url "git@github.com:"]
	insteadof = https://github.com/
